<script type="javascript/template" id="tmpl-extLibs-page">
  <div class="page">

		<header class="navbar navbar-fixed-top hidden libs-iframe-navbar">
			<div class="navbar-inner">
				<div class="navbar-brand">
					<a href="#">
						<img src="" style="max-height: 21px;" class="lib-logo">
					</a>
				</div>
				<ul class="navbar-nav">
					<li class="root-level lib-link znanium-link" data-name="znanium" data-lib-logo-url="/assets/images/zna_logo8.png" data-link="{znanium_link}"><a href="#"><span class="title">Znanium.com</span></a></li>
					<li class="root-level lib-link biblioclub-link" data-name="biblioclub" data-lib-logo-url="/assets/images/biblioclub_logo.png" data-link="https://biblioclubru.my.guu.ru/"><a href="#"><span class="title">Biblioclub.ru</span></a></li>
				</ul>
				<ul class="nav navbar-right pull-right">
          <li class="close-lib-frame"><a href="#">Назад к списку<i class="entypo-logout right"></i></a></li>
					<li class="visible-xs">
						<div class="horizontal-mobile-menu visible-xs"><a href="#" class="with-animation"><i class="entypo-menu"></i></a></div>
					</li>
				</ul>
			</div>
		</header>

    <div class="libs-env">
      <section class="catalog">
        <div class="row">
          <div class="col-md-8 col-sm-6"><h2>Доступ к внешним библиотекам</h2></div>
          <div class="col-md-4 col-sm-6">
            <div class="search-form-full">
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped">
          <tr>
            <td colspan="2"><h3>Znanium.com</h3></td>
          </tr>
          <tr>
            <td>Электронно-библиотечная система ZNANIUM.com — это коллекция полнотекстовых электронных версий книг, которая включает литературу,
              выпущенную издательствами Группы компаний «ИНФРА-М»: «Весь мир», ИД «Форум», ИД «Вузовский учебник», «Магистр», «Норма»,
              «Финансы и статистика» и другие издательства. Представлены издания учебников, учебных пособий, монографий,
              сборников научных трудов, энциклопедий, справочников, законодательно-нормативных документов. Электронные книги в
              «ЭБС znanium.com» размещаются в полном соответствии с печатной версией.
              В «ЭБС znanium.com» содержатся издания по направлениям экономика и управление, социальные науки, естественные,
              гуманитарные науки, образование и педагогика, энергетика, машиностроение, информатика и вычислительная техника, культура,
              искусство, юриспруденция и другие.</td>

            <td class="btn btn-default btn-icon icon-left lib-link" data-name="znanium" data-lib-logo-url="/assets/images/zna_logo8.png" data-link="{znanium_link}" style="width: 220px;"> <i class="entypo-right-open"></i>Открыть</td>
          </tr>

          <tr>
            <td colspan="2"><h3>Biblioclub.ru</h3></td>
          </tr>
          <tr>
            <td>Электронно-библиотечная система <strong>«Университетская библиотека онлайн»</strong> — коллекция электронных версий книг
              научной и учебной литературы, энциклопедии, словари, конспекты лекций, интерактивные тесты,  полнотекстовых материалы по
              различным областям научных знаний.
              Материал расположен по дисциплинам, авторам и тематическим разделам, среди которых: экономика, социология, психология,
              философия, информационные технологии и многие другие. Электронные книги доступны в режиме постраничного просмотра.</td>

            <td class="btn btn-default btn-icon icon-left lib-link" data-name="znanium" data-lib-logo-url="/assets/images/biblioclub_logo.png" data-link="https://biblioclubru.my.guu.ru/"  style="width: 220px;"> <i class="entypo-right-open"></i>Открыть</td>
          </tr>
        </table>
      </section>
    </div>
    <iframe id="proxy-frame" style="width: 100%; height: 100%; border: 0;" src="" class="hidden"></iframe>
  </div>
</script>