<script type="javascript/template" id="tmpl-moodleCourses-page">
  <div class="page">
    <div class="mail-env">
      <h2>Доступные курсы</h2>
      <a href="#" id="refresh-moodle-courses-info" class="btn btn-success pull-right ladda-button btn-icon" data-style="slide-up"> <i class="fa fa-refresh"></i> Обновить данные</a>
      <div class="mail-sidebar" style="width: 35%;">
        <ul class="mail-menu">
          <li>
            <a href="#" class="course" data-course-id="111"> КСЕ</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="211"> Экономическая теория</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="207"> Психология менеджмента</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              <span class="sr-only">40%</span>
            </div>
          </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="227"> Математика высшая</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="229"> Информатика</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="216"> Логика</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="186"> Иностранный</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="course" data-course-id="187"> История</a>
            <div class="progress progress-striped pointer" title="Количество набранных баллов (макс. 100). Кликните для дополнительной информации">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40%</span>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="mail-body" style="width: 65%;">
        <div class="mail-header">
          <h3 class="mail-title">
            Выберите дисциплину
          </h3>
        </div>
        <table class="table mail-table">
          <thead>
          <tr><th>Мероприятие</th><th>Статус</th><th>Набрано баллов</th><th>Макс. баллов</th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</script>


<script type="javascript/template" id="tmpl-course-marks-detail">
  <tr>
    <td class="col-name">{name}</td>
    <td class="col-subject">
      <a href="#">
        {description}
      </a>
    </td>
    <td class="col-time">{rating}</td>
    <td class="col-time">{max_rating}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-open-course-btn">
  <tr><td class="go-to-moodle-course btn" colspan="4"> <b>Открыть курс<b> <i class="entypo-right-open"></i></td></tr>
</script>