<script type="javascript/template" id="tmpl-professorCertification-page">
	<div class="page ">
		<div id="wrapper">
			<h2>Аттестационный лист</h2>
			<button id="print_page_button" class="btn btn-primary hidden-print">Распечатать</button>
			<ul class="nav nav-tabs hidden-print"></ul>
			<div class="tab-content"></div>
		</div>
		<div class="modal" id="certification-sum-rating" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Сохранено!</h4>
					</div>

					<div class="modal-body">
						<strong>Спасибо, что заполнили данные! Ваши итоговые показатели за текущий период</strong>
						<table class="table table-bordered table-striped">
							<tr>
								<th>Показатель</th>
								<th>Сумма</th>
							</tr>
							<tr>
								<td><strong>КПК общий</strong></td>
								<td class="text-center">
                  <span class="kpk-label"></span>
                  <div class="progress kpk-progress"> <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""> <span class="sr-only"></span> </div> </div>
                </td>
							</tr>
							<tr>
								<td><strong>КНК общий</strong></td>
								<td class="text-center">
                  <span class="knk-label"></span>
                <div class="progress knk-progress"> <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""> <span class="sr-only"></span> </div> </div>
                </td>

							</tr>
						</table>
						<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
						</div>
					</div>
				</div>
			</div>
		</div><!--
    <div class="hidden">
		<h2>Аттестационный лист</h2>

		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#section-1" class="handled" data-toggle="tab">
					<strong class="visible-xs">I</strong>
					<span class="hidden-xs">Раздел I</span>
				</a>
			</li>
			<li>
				<a href="#section-2" class="handled" data-toggle="tab">
					<strong class="visible-xs">II</strong>
					<span class="hidden-xs">Раздел II</span>
				</a>
			</li>
			<li>
				<a href="#section-3" class="handled" data-toggle="tab">
					<strong class="visible-xs">III</strong>
					<span class="hidden-xs">Раздел III</span>
				</a>
			</li>
			<li>
				<a href="#section-4" class="handled" data-toggle="tab">
					<strong class="visible-xs">IV</strong>
					<span class="hidden-xs">Раздел IV</span>
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="section-1">
				<h3>Основная и смежная сфера научно-педагогической деятельности</h3>
				<form id="section_1_form" role="form" class="form-horizontal">
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Общее количество баллов по разделу:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<hr>
					<div class="form-group">
						<label for="field-1_1" class="col-sm-3 control-label">Основная сфера деятельности</label>
						<div class="col-sm-5">
							<select id="field-1_1" class="select2"  data-allow-clear="true" data-placeholder="Выберите одну, если есть">
								<option></option>
								<option>Политология</option>
								<option>Социология</option>
								<option>Экономика</option>
								<option>Юриспруденция</option>
								<option>Техническая</option>
								<option>История</option>
								<option>Педагогика</option>
								<option>Философия</option>
								<option>Психология</option>
								<option>Физико-математическая</option>
							</select>
						</div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-1_2" class="col-sm-3 control-label">Смежные сферы деятельности </label>
						<div class="col-sm-5">
							<select id="field-1_2" class="select2"  data-allow-clear="true" data-placeholder="Выберите одну, если есть">
								<option></option>
								<option>Культурология</option>
								<option>Биология</option>
								<option>Педагогика</option>
								<option>Политология</option>
								<option>Психология</option>
								<option>География</option>
								<option>Техническая</option>
								<option>Физико-математическая</option>
								<option>Филологическая</option>
								<option>Философская</option>
								<option>Экономика</option>
								<option>Социология</option>
								<option>Юриспруденция</option>
								<option>История</option>
								<option>Искусствоведение</option>
								<option>прочие</option>
							</select>
						</div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5 text-right">
							<button id="section_1_save" type="button" class="btn btn-info btn-icon next_btn icon-right">Дальше<i class="entypo-right"></i></button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane" id="section-2">
				<h3>Общие сведения</h3>
				<form id="section_2_form" role="form" class="form-horizontal">
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Общее количество баллов по разделу:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<hr>
					<div class="form-group">
						<label for="field-2_1" class="col-sm-3 control-label">Научно-педагогический стаж</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-2_1" placeholder="в годах" style="width: 100px"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.2</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_2" class="col-sm-3 control-label">Опыт участия в международных проектах по НИР (Всемирный банк, ООН, ЕБРР, ОЭСР, ЕАБР, USAID, TACIS, TEMPUS, ERASMUS MUNDUS и т.п.)</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_2" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label">
							<span>Цитируемость:</span>
							<p class="help-block">за последних 5 лет</p>
						</div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_3" class="col-sm-3 control-label">в РИНЦ</label>
						<div class="col-sm-5">
							<div class="input-group" style="width: 100px"><input type="text" class="form-control" id="field-2_3"><span class="input-group-addon">%</span></div>
							<p class="help-block">% от макс. в РИНЦ</p>
						</div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_4" class="col-sm-3 control-label">в Scopus</label>
						<div class="col-sm-5">
							<div class="input-group" style="width: 100px"><input type="text" class="form-control" id="field-2_4"><span class="input-group-addon">%</span></div>
							<p class="help-block">% от макс. в Scopus</p>
						</div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_5" class="col-sm-3 control-label">в Web of Science</label>
						<div class="col-sm-5">
							<div class="input-group" style="width: 100px"><input type="text" class="form-control" id="field-2_5"><span class="input-group-addon">%</span></div>
							<p class="help-block">% от макс. в Web of Science</p>
						</div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Индекс Хирша:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_6" class="col-sm-3 control-label">в РИНЦ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_6" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_7" class="col-sm-3 control-label">в Scopus</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_7" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_8" class="col-sm-3 control-label">в Web of Science</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_8" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<hr>
					<div class="form-group">
						<label for="field-2_9" class="col-sm-3 control-label">Педагогический стаж работы в высших учебных заведениях</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-2_9" placeholder="в годах" style="width: 100px"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.8</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_10" class="col-sm-3 control-label">Наличие почетных педагогических степеней и званий</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_10" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_11" class="col-sm-3 control-label">Опыт работы над научно-исследовательскими проектами (по специальности)</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-2_11" placeholder="в годах" style="width: 100px"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.2</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_12" class="col-sm-3 control-label">Количество НИР, выполненных в качестве руководителя или ведущего исследователя в ГУУ и других организациях</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-2_12" style="width: 100px"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.8</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_13" class="col-sm-3 control-label">Количество пройденных стажировок (повышение квалификации) в России за последние 3 года</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-2_13" style="width: 100px"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_14" class="col-sm-3 control-label">Количество пройденных стажировок (повышение квалификации) за рубежом за последние 3 года</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-2_14" style="width: 100px"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.5</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_15" class="col-sm-3 control-label">Наличие опыта руководящей работы</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_15" type="checkbox"></div></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Наличие опыта руководящей работы в компаниях частного сектора:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_16" class="col-sm-3 control-label">на руководящих должностях среднего звена (до уровня начальника отдела, зам. директора департамента включительно)</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_16" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>3.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_17" class="col-sm-3 control-label">на руководящих должностях высшего звена (от уровня директора департамента)</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_17" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>6.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_18" class="col-sm-3 control-label">в совете директоров или правления компании</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_18" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>9.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Наличие опыта руководящей работы в университетах РФ:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_19" class="col-sm-3 control-label">зав. кафедрой в том числе и в ГУУ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_19" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>3.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_20" class="col-sm-3 control-label">декан, проректор</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_20" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>6.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_21" class="col-sm-3 control-label">ректор</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_21" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>9.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Наличие опыта руководящей работы в НИИ:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_22" class="col-sm-3 control-label">руководитель центра, отдела, сектора, лаборатории</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_22" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>6.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_23" class="col-sm-3 control-label">директор, зам. директора</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_23" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>9.0</span></span></div>
					</div>
					<hr>
					<div class="form-group">
						<label for="field-2_24" class="col-sm-3 control-label">Наличие опыта работы в судебной системе судьей</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_24" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_25" class="col-sm-3 control-label">Членство в РАН</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_25" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>4.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Наличие опыта экспертной работы:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_26" class="col-sm-3 control-label">в Экспертном совете при Президенте</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_26" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>18.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_27" class="col-sm-3 control-label">в Экспертном совете при Председателе Правительства </label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_27" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>16.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_28" class="col-sm-3 control-label">в Экспертном совете при Правительстве Российской Федерации</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_28" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>14.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_29" class="col-sm-3 control-label">в Российских организациях оценки качества образовательных услуг</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_29" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_30" class="col-sm-3 control-label">в общественном совете ФОИВа</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_30" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_31" class="col-sm-3 control-label">в экспертных (рабочих) группах по поручению Президента</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_31" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>12.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_32" class="col-sm-3 control-label">в экспертных (рабочих) группах по поручению Председателя Правительства</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_32" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>11.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_33" class="col-sm-3 control-label">в экспертных (рабочих) группах по поручению руководителя ФОИВ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_33" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_34" class="col-sm-3 control-label">в качестве советника руководителя ФОИВ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_34" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>20.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_35" class="col-sm-3 control-label">в международных организациях оценки качества образовательных услуг</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_35" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>24.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_36" class="col-sm-3 control-label">председатель (зам. председателя) экспертного совета ВАК</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_36" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>24.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_37" class="col-sm-3 control-label">член экспертного совета ВАК</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_37" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>16.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_38" class="col-sm-3 control-label">председатель (зам. председателя) диссертационного совета</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_38" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>24.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_39" class="col-sm-3 control-label">член диссертационного совета</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_39" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>16.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Знание иностранного языка в объеме, обеспечивающем чтение лекций:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-2_40" class="col-sm-3 control-label">Знание английского языка и умение работать с иностранными источниками</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_40" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.5</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-2_41" class="col-sm-3 control-label">Знание иностранного языка и умение проводить лекции и практические занятия на иностранном языке</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-2_41" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.5</span></span></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5 text-right">
							<button id="section_2_save" type="button" class="btn btn-info next_btn btn-icon icon-right">Дальше<i class="entypo-right"></i></button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane" id="section-3">
				<h3>Квалификация по преподавательской деятельности</h3>
				<form id="section_3_form" role="form" class="form-horizontal">
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Общее количество баллов по разделу:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Квалификация согласно образованию:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-3_1" class="col-sm-3 control-label">Диплом кандидата наук по профилю преподаваемой дисциплины</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_1" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_2" class="col-sm-3 control-label">Диплом доктора наук по профилю преподаваемой дисциплины</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_2" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>30.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_3" class="col-sm-3 control-label">Диплом PhD по профилю преподаваемой дисциплины</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_3" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>30.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_4" class="col-sm-3 control-label">Опыт работы преподавателем зарубежного университета</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_4" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Руководство выпускной квалификационной работой:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-3_5" class="col-sm-3 control-label">Количество  соискателей бакалаврской степени в последние 3 года</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_5" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.2</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_6" class="col-sm-3 control-label">Количество  соискателей магистерской степени в последние 3 года</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_6" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.5</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_7" class="col-sm-3 control-label">Количество  соискателей степени кандидата наук в последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_7" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_8" class="col-sm-3 control-label">Количество  соискателей степени доктора наук в последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_8" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_9" class="col-sm-3 control-label">Руководство научно-исследовательскими грантами студентов за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_9" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Публикации и научно-редакторская работа:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-3_10" class="col-sm-3 control-label">Количество  методических разработок, имеющих соответствующий гриф и выходные данные за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_10" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_11" class="col-sm-3 control-label">Количество  учебных, учебно–методических пособий, изданных и имеющих соответствующий гриф и выходные данные за последние 10 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_11" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_12" class="col-sm-3 control-label">Количество  учебников, изданных и имеющих гриф за последние 10 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_12" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_13" class="col-sm-3 control-label">Участие в  коллективах переводчиков иностранных учебников</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_13" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_14" class="col-sm-3 control-label">Участие в  коллективах переводчиков иностранных учебников, выполняя обязанности научного редактора</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_14" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_15" class="col-sm-3 control-label">Опыт публичного представления собственного педагогического опыта в форме открытой лекции/семинара</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_15" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Результативность участия в профессиональных конкурсах:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-3_16" class="col-sm-3 control-label">лауреат/дипломант конкурса всероссийского уровня</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_16" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_17" class="col-sm-3 control-label">лауреат/дипломант конкурса международного уровня</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_17" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_18" class="col-sm-3 control-label">лауреат/дипломант всероссийского конкурса, проводимого Министерством образования и науки РФ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_18" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_19" class="col-sm-3 control-label">победитель конкурса всероссийского уровня</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_19" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_20" class="col-sm-3 control-label">победитель конкурса международного уровня</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_20" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>7.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_21" class="col-sm-3 control-label">победитель всероссийского конкурса, проводимого Министерством образования и науки РФ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_21" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<hr>
					<div class="form-group">
						<label for="field-3_22" class="col-sm-3 control-label">Наличие званий по специальности или кафедре</label>
						<div class="col-sm-5">
							<select id="field-3_22" class="select2" data-allow-clear="true" data-placeholder="Выберите одно, если есть" style="width: 250px">
								<option></option>
								<option>доцент</option>
								<option>профессор</option>
							</select>
						</div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Методическая работа:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-3_24" class="col-sm-3 control-label">Наличие опыта ведения учебных занятий в дистанционном формате (видеоуроки, дистанционные курсы, дистанционные тренинги)</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_24" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_25" class="col-sm-3 control-label">Наличие опыта разработки образовательных программ</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_25" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>3.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_26" class="col-sm-3 control-label">Наличие опыта разработки ФГОС нового поколения</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_26" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_27" class="col-sm-3 control-label">Количество поддерживаемых в актуальном состоянии УМК дисциплин</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-3_27" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-3_28" class="col-sm-3 control-label">Наличие опыта ведения БРС</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-3_28" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5 text-right">
							<button id="section_3_save" type="button" class="btn btn-info next_btn btn-icon icon-right">Дальше<i class="entypo-right"></i></button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane" id="section-4">
				<h3>Квалификация по сферам научной деятельности</h3>
				<form id="section_4_form" role="form" class="form-horizontal">
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Общее количество баллов по разделу:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Квалификация согласно образованию:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-4_1" class="col-sm-3 control-label">диплом магистра (или специалиста)</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_1" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_2" class="col-sm-3 control-label">диплом кандидата наук</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_2" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>25.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_3" class="col-sm-3 control-label">диплом доктора наук</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_3" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>50.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_4" class="col-sm-3 control-label">диплом PhD</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_4" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>50.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Квалификация согласно образованию:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-4_5" class="col-sm-3 control-label">Количество публикаций за последние 3 года в рецензируемых журналах ВАК</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_5" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>4.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_6" class="col-sm-3 control-label">Количество публикаций в рецензируемых журналах ВАК, накопленным итогом</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_6" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_7" class="col-sm-3 control-label">Количество публикаций за последние 3 года в иностранных рецензируемых журналах Scopus</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_7" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_8" class="col-sm-3 control-label">Количество публикаций в иностранных рецензируемых журналах Scopus, накопленным итогом</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_8" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_9" class="col-sm-3 control-label">Количество публикаций за последние 3 года в репозитории Web of Science</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_9" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>10.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_10" class="col-sm-3 control-label">Количество публикаций за последние 3 года в репозитории Web of Science, накопленным итогом</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_10" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_11" class="col-sm-3 control-label">Количество монографий, изданных в научных издательствах и имеющих шифр ISBN</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_11" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_12" class="col-sm-3 control-label">Участие в редакционных коллегиях рецензируемых научных журналов ВАК</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_12" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>3.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_13" class="col-sm-3 control-label">Участие в качестве научного редактора монографий , опубликованных и  имеющих шифр ISBN</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_13" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>4.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_14" class="col-sm-3 control-label">Участие в качестве научного редактора иностранных монографий , опубликованных и  имеющих шифр ISBN</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_14" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>4.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_15" class="col-sm-3 control-label">Участие в редакционных коллегиях иностранных рецензируемых научных журналов, индексируемых Scopus</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_15" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>7.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_16" class="col-sm-3 control-label">Участие в редакционных коллегиях прочих журналов</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_16" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_17" class="col-sm-3 control-label">Патенты, авторские свидетельства, полезные модели и программы для ЭВМ, прошедшие соответствующею регистрацию </label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_17" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>7.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Участие в научно-исследовательских работах:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-4_18" class="col-sm-3 control-label">Ведущий исследователь НИР тематического плана ГУУ (Гос. задания, Гос. контракта) за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_18" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_19" class="col-sm-3 control-label">Руководитель НИР тематического плана ГУУ (Гос. задания, Гос. контракта) за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_19" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_20" class="col-sm-3 control-label">Участие в НИР совместно с иностранными специалистами</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_20" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_21" class="col-sm-3 control-label">Участие в  НИР иностранных ВУЗов за последние 5 лет</label>
						<div class="col-sm-5"><div class="make-switch" data-on-label="<i class='entypo-check'></i>" data-off-label="<i class='entypo-cancel'></i>"><input id="field-4_21" type="checkbox"></div></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Руководство научной работой соискателей ученой степени, звания и дипломников:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-4_22" class="col-sm-3 control-label">Руководство  соискателями бакалаврской степени за последние 3 года</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_22" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.4</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_23" class="col-sm-3 control-label">Руководство  соискателями магистерской степени за последние 3 года</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_23" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>0.5</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_24" class="col-sm-3 control-label">Руководство  соискателями степени кандидата наук за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_24" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>3.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_25" class="col-sm-3 control-label">Научный консультант соискателя степени доктора наук за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_25" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>5.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_26" class="col-sm-3 control-label">Руководство  грантами студентов за последние 5 лет</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_26" style="width: 100px" placeholder="человек"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<hr>
					<div class="form-group form-header">
						<div class="col-sm-3 control-label"><span>Участие в конференциях и научных мероприятиях:</span></div>
						<div class="col-sm-5 form-control-static"><span></span> <i class="fa fa fa-star"></i></div>
					</div>
					<div class="form-group">
						<label for="field-4_27" class="col-sm-3 control-label">Количество мероприятий за последний год на уровне докладчика на пленарном заседании</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_27" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>2.0</span></span></div>
					</div>
					<div class="form-group">
						<label for="field-4_28" class="col-sm-3 control-label">Количество мероприятий за последний год на уровне докладчика на секции/круглом столе</label>
						<div class="col-sm-5"><input type="text" class="form-control" id="field-4_28" style="width: 100px" placeholder="штук"></div>
						<div class="col-sm-2"><span class="weight" title="Баллов за единицу измерения"><i class="fa fa fa-star"></i><span>1.0</span></span></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5 text-right">
							<button id="section_4_save" type="button" class="btn btn-success btn-icon icon-right">Сохранить<i class="entypo-floppy"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
    </div>-->
  </div>
</script>