<script type="javascript/template" id="tmpl-profile-page">
  <div class="page">
  <div class="profile-env">

  <header class="row">

    <div class="col-sm-2 dropdown">
      <a href="#" class="dropdown-toggle profile-picture" data-toggle="dropdown">
        <img src="{avatar}" class="img-responsive img-circle avatar-img" style="height: 115px; ">
      </a>

      <ul class="dropdown-menu pull-right">

        <!-- Profile sub-links -->
        <li>
          <a href="#" class="file-input-wrapper btn form-control file2 inline">
            <i class="entypo-upload"></i> Загрузить с компьютера...
            <input id="avatar-uploader" type="file" class="form-control file2 inline btn btn-primary" data-label="<i class='glyphicon glyphicon-file'></i> Загрузить изображение..." >
          </a>
          <a href="#" class="btn make-avatar-btn form-control inline">
            <i class="entypo-picture"></i> Сделать фотографию...
          </a>
        </li>

      </ul>

    </div>

    <div class="col-sm-12">

      <ul class="profile-info-sections">
        <li>
          <div class="profile-name">
            <strong>
              <strong>{last_name} {first_name} {middle_name}</strong>
            </strong>
            <span>{user_statuses}</span>
          </div>
        </li>
      </ul>

    </div>

  </header>

  <section class="profile-info-tabs">

    <div class="row">

      <div class="col-sm-offset-2 col-sm-10">

        <ul class="user-details">
          <li>
            <a href="#">
              <i class="entypo-location"></i>
              {department}
            </a>
          </li>
          <li>
            <a href="#">
              <i class="entypo-suitcase"></i>
              {role}
            </a>
          </li>

          <li>
            <a href="mailto:{email}">
              <i class="entypo-mail"></i>
              {ad_login}
            </a>
          </li>
        </ul>

      </div>

    </div>

  </section>

  <form role="form" method="post" class="form-horizontal form-groups-bordered validate" action="" novalidate="novalidate">
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

          <div class="panel-heading">
            <div class="panel-title">
              Контактная информация
            </div>

            <div class="panel-options">
            </div>
          </div>

          <div class="panel-body" style="display: block;">

            <div class="form-group">
              <label for="cell-tel" class="col-sm-3 control-label">Мобильный телефон</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="cell-tel" name="phone_number" value="{phone_number}">
              </div>
              <div class="label label-danger"><i class="fa fa-warning"></i> Внимание, Ваш телефон смогут видеть ВСЕ, в том числе студенты.</div>
            </div>

            <div class="form-group {student_hidden}">
              <label for="room" class="col-sm-3 control-label">Кабинет</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="room" name="room" value="{room}">
              </div>
            </div>

            <div class="form-group {student_hidden}">
              <label for="office-tel" class="col-sm-3 control-label">Телефон рабочий</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="office-tel" name="office_tel" value="{office_tel}">
              </div>
            </div>

            <div class="form-group">
              <label for="vk-url" class="col-sm-3 control-label"><i class="entypo-vkontakte"></i> ВКонтакте</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="vk-url" name="vk_url" value="{vk_url}">
              </div>
            </div>

            <div class="form-group">
              <label for="fb-url" class="col-sm-3 control-label"><i class="entypo-facebook"></i> Facebook</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="fb-url" name="fb_url" value="{fb_url}">
              </div>
            </div>

            <div class="form-group {student_hidden}">
              <label for="staff-birth-date" class="col-sm-3 control-label"><i class="entypo-calendar"></i> Дата рождения</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="staff-birth-date" name="birth_date" value="{birth_date}" data-mask="d.m.y">
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary" data-collapsed="0">
          <div class="panel-heading">
            <div class="panel-title">
              Научная деятельность
            </div>
          </div>

          <div class="panel-body">
            <div class="form-group {student_hidden}">
              <label for="science-degree" class="col-sm-3 control-label">Ученая степень</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="science-degree" name="science_degree" value="{science_degree}">
              </div>
            </div>

            <div class="form-group {student_hidden}">
              <label for="science-title" class="col-sm-3 control-label">Ученое звание</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="science-title" name="science_title" value="{science_title}">
              </div>
            </div>

            <div class="form-group {student_hidden}">
              <label for="science-title" class="col-sm-3 control-label">Сведения о профессиональном образовании (когда и какое учебное заведение окончил, специальность и квалификация по образованию)</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="staff-education" name="education_info"  style="width: 100%; resize: vertical; height: 80px;" placeholder="Например, 1987 г.- Московский энергетический институт, автоматика и телемеханика, инженер-электрик">{education_info}</textarea>
              </div>
            </div>

            <div class="form-group {student_hidden}">
              <label for="science-title" class="col-sm-3 control-label">Сведения о повышении квалификации за последние 5 лет до прохождения аттестации</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="courses-info" name="courses_info"  style="width: 100%; resize: vertical; height: 80px;">{courses_info}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="science-interests" class="col-sm-3 control-label">Научные интересы</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="science-interests" name="science_interests" style="resize: vertical;">{science_interests}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
              Дополнительная информация
            </div>
            <div class="panel-options">
            </div>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" id="more-info" name="additional_info"  style="width: 100%; resize: vertical; height: 140px;">{more_info}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group default-padding">
      <button type="button" class="btn btn-success btn-icon pull-right update-info">Сохранить <i class="entypo-floppy"></i></button>
    </div>

  </form>


  </div>

  <div class="modal" id="make-avatar-modal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Создать аватар</h4>
        </div>
        <div class="modal-body">
          <div id="live" style="width: 500px; height: 400px;"></div>
          <div id="image-shoot">
            <h3>Ваш новый потенциальный аватар</h3>
            <img src="">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success upload-made-photo disabled">Сохранить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</script>