<script type="javascript/template" id="tmpl-studentsChangeManual-page">
	<div class="page">
		<div class="{students_hidden}">
			<div class="line">
				<h1>Дисклеймер</h1>
				<ul>
					<li>Данные студентов, которые есть в системе взяты из различных источников (приемная комиссия, бухгалтерия и т.д.). <strong>Достоверность этих данных под большим вопросом.</strong></li>
					<li>Некоторые группы студентов (магистратура и студенты очно-заочной формы обучения) могут отсутствовать в системе. <strong>Данные будут добавляться по мере их поступления.</strong></li>
					<li>Сессия в системе действительно только 1 час. После этого у Вас будут появляться сообщения о невозможности получения данных. <strong>В таком случае необходимо обновить страницу и зайти в систему снова.</strong></li>
				</ul>
			</div>
			<div class="image left">
				<img style="max-width: 100%; max-height: 250px;" src="/assets/images/manuals/1/1.png"></div>
			<h2>С чего начать</h2>
			<p>В левой части основное боковое меню, в котором Вы сможете найти все необходимые инструменты для работы с контингентом студентов.</p>
			<p>Чтобы перейти к редактированию и просмотру студентов перейдите в раздел <i class="fa fa-group"></i>"Институт". В этом разделе выберите подраздел "Контингент".</p>
			<p>Откроется интерфейс работы с контингентом студентов</p>

			<div class="line right">
				<div class="image right"><img style="max-width: 100%; max-height: 250px;" src="/assets/images/manuals/1/2.jpg"></div>
				<h2>Получение контингента студентов</h2>
				<p>Для начала вам следует выбрать в верхней части форму обучения, курс и группу, которую собираетесь редактировать.</p>
				<div class="image"><img style="max-width: 100%; max-height: 355px;" src="/assets/images/manuals/1/3.jpg"></div>
				<p class="line center">Откроется таблица со всеми студентами, учащимися в выбранной группе.</p>
			</div>
			<div class="line">
				<h2>Фильтрация контингента студентов</h2>
				<p>Над таблицей находятся три разноцветные кнопки соответственно: серого, зеленого и желтого цвета. Эти кнопки помогают отфильтровать выведенный список студентов.</p>
				<p>Изначально выбрана серая кнопка, которая отображает всех студентов. Нажав на зеленую кнопку вы получите список студентов с уже заполненной информацией, а нажав на желтую кнопку, получите список студентов с частично заполненной информацией.</p>
			</div>
			<div class="line right">
				<div class="image right"><img style="max-width: 100%; max-height: 355px;" src="/assets/images/manuals/1/4.jpg"></div>
				<h2>Редактирование информации о студенте</h2>
				<p>Чтобы отредактировать данные студента, нажмите на зеленую кнопку "Изменить"<i class="entypo-pencil"></i> в строке с нужным студентом.</p>
				<p>Откроется модальное окно со всеми полями студента. Здесь вы можете добавить, отредактировать и удалить значения по полям.</p>
				<p>После завершения редактирования данных студента, не забудьте прокрутить окошко до самого низа и нажать на кнопку <i class="entypo-floppy"></i>"Данные верные, сохранить"</p>
			</div>
			<div class="line left">
				<div class="image left"><img style="max-width: 100%; max-height: 355px;" src="/assets/images/manuals/1/5.png"></div>
				<h2>Внесение изменений в списки студентов</h2>
				<p>Если список студентов в системе не соответствует реальному списку и необходимо добавить/удалить студента, то:</p>
				<ul>
					<li>Отправлять заявку о наличии ошибки с максимально возможным описаниям</li>
					<li>После обработки нами сообщения у вас в системе появится вкладка "Заявки на исправление" со статусом заявки</li>
					<li>В случае необходимости дополнительных действий они будут описаны в статусе заявки на данной вкладке</li>
				</ul>
			</div>
		</div>
	</div>
</script>
