#tabs TD.fields INPUT
{
	font: 20pt sans-serif !important;
	margin: 5px;
	padding: 6px;
	height: 15px;
}
#tabs .buttons
{
	padding: 10px;
	margin: 10px;
}
 .buttons .ui-button
{
	padding: 6px !important;
	margin: 10px !important;
	font-size: 10pt !important;
}
A
{
	padding: 0px;
	margin: 0px;
}
#tabs SELECT
{
	margin: 5px;
	font: 10pt sans-serif;
	border-color: #0001B0;
}
#tabs .form_table
{
}
#tabs .explication
{
	font: 9pt sans-serif;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	width: 100%;
}
#tabs .explication_selected
{
	text-decoration: underline;
}
#tabs .field
{
}
#tabs .comment
{
	text-align: justify;
	font-size: smaller;
}
#tabs .asterisk
{
	color: #FF0000;
}
#tabs .info
{
	width: 100%;
	font-size: 12pt;
	border: 3px solid #0001B0;
	text-align: center;
	padding: 5px;
	margin: 10px;
	color: #0001B0;
}
/*.button{


width: 20%;
margin: 0px;
padding: 1px;

background: #9fb3ff;
color: #0f475b;
font-family: Arial, Helvetica, sans-serif;

font-size:9pt;

}*/
#tabs TD.field LABEL
{
	position: relative;
	display: block;
	text-align: left;
	float: left;
	padding-right: 5px;
}
#tabs TD.field LABEL EM
{
	position: absolute;
	right: -260px;
	top: -15px;
	font-size: 0.8em;
	color: #F00;
	padding: 1px;
}
#tabs .error
{
	color: #FF0000;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}
#dialog
{
	text-align: justify;
}
#dialog #back_to_search
{
	width: 100%;
	text-align: center;
}
#tabs .loading
{
	width: 100%;
	text-align: center;
	color: #FF0000;
/*border: 1px solid red;*/
}
#tabs FIELDSET
{
	border: 1px solid #0F0E0E !important;
}
#tabs INPUT.fields
{
	width: 100px;
	padding: 3px;
	margin: 3px;
}
