.pagination
{
	font-size: 80%;
}
.pagination A
{
	text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}
.pagination A, .pagination SPAN
{
	/*[disabled]display:block;*/
	/*[disabled]float:right;*/
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
	min-width: 1em;
	text-align: center;
}
.pagination .current
{
	background: #26B;
	color: #FFF;
	border: 1px solid #AAE;
}
.pagination .current.prev, .pagination .current.next
{
	color: #999;
	border-color: #999;
	background: #FFF;
}
